/* .box {
  width: 100px;
  height: 100px;
  background: tomato;
  border-radius: 10px;
} */

/* .box:hover { */
  
/*   단축속성 */
/*   animation: my-animation 3s infinite alternate; */
  
/*   1.animation-name 2. animation-duration*/
/*   animation-name: my-animation; */
  /*animation-duration:3000ms;*//*3s*/
  /*animation-duration:.3s;*//*0.3s*/
/* } */

/* @keyframes my-animation {
  0%{
    width: 100px;
    background: tomato;
  }
  75% {
    width: 500px;
    background: dodgerblue;
  }
  
  100% {
    width: 300px;
    background: yellowgreen;
  }
} */

/*  4.animation-delay */
/* .box{
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
  color: white;
  font-size: 24px; */
  
/*   글자 중앙 */
/*   display: flex;
  justify-content: center;
  align-items: center;
}
 */
/* .box1{
  background: tomato;
}

.box2{
  background: dodgerblue;
}

.box3{
  background: yellowgreen;
} */



/* .box1:hover{ */
  /* 두번반복 일정하게 */
/*   animation: size-up 1s 2 alternate; */
  
/*   3.animation-timing-function */
/*   animation-timing-function: linear; */
  
  /* 바로시작 */
/*   animation-delay:0s; */
  
/*   단축속성 */
/*   animation: size-up 1s 2 alternate 0s linear;
}
 */

/* .box2:hover { */
/*   animation: size-up 1s 2 alternate;
  animation-timing-function: linear; */
  
  /* 1초 기다리고 시작 */
/*   animation-delay:1s; */
  
/*   단축속성 */
/*   animation: size-up 1s 2 alternate 1s linear;
} */

/* .box3:hover{ */
/*   animation: size-up 1s 2 alternate;
  animation-timing-function: linear; */
  
/*   1초 지나버린 후에 바로 시작 */
/*   animation-delay:-1s; */
  
/*   animation: size-up 1s 2 alternate -1s linear;
} */

/* @keyframes size-up {
  0%{
    width: 150px;
  }
  
  100%{
    width: 500px;
  }
}
 */

/* 5. animation-iteraction-count */
/* .box{
  width: 100px;
  height: 100px;
  background: tomato;
  border-radius: 10px;
  margin: 30px;
  animation: movemove 2s; */
  
/*   일정하게로 변하면서 차분해짐 */
/*   animation-timing-function: linear; */
  
/*   4번 반복 */
/*   animation-iteration-count: 4; */
  
/*   무한반복 */
/*   animation-iteration-count: infinite; */
  
  
/*   6.animation-direction */
/*   기본값: 정방향 */
/*   animation-direction: normal; */
    
/*   반대방향 */
/*   animation-direction: reverse; */
  
/*   alternative와 alternative reverse는 횟수를 한번씩 더 소비함*/
/*   animation-iteraction-count: 2; */
/*   animation-direction: alternate; */
/*   animation-direction : alternate-reverse;
  
  
} */

/* @keyframes movemove {
  0% { */
/*     움직임x */
/*     transform: translate(0,0);
    
  } */
  
/*   25% {
  
    transform: translate(100px, 0);
  }
  
  50% {
    transform: translate(100px, 100px);
  }
  
  75% {
    transform: translate(0, 100px);
  }
  
  100% {
    transform: translate(0, 0);
  }
} */

/* 7. animation-fill-mode  */
/* .box {
  width: 100px;
  height: 100px;
  background: tomato;
  border-radius: 10px;
  margin: 30px;
  animation: movemove 2s 2s; */
  
/*   애니메이션이 시작하는 자리에서 2초를 기다리고 애니메이션의 동작 끝난 후 애니메이션이 끝난 자리에서 멈춤 */
/*   animation-fill-mode: both;
} */

/* @keyframes movemove {
  0% {
    transform: translate(100px, 100px);
    background: dodgerblue;
    
  }
  
  100% {
    transform: translate(300px, 100px);
    background: yellowgreen;
  }
} */

/* 8. animation-play-state  */
body{
  padding: 20px;
}
.box {
  width: 150px;
  height: 100px;
  background: tomato;
  border-radius: 10px;
  animation: size-up 3s linear infinite alternate;
  
/*   글씨 정중앙 */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* 요소의 내부 앞쪽에 가상요소 추가 */
.box::before {
  content: "running";
  font-size: 20px;
  color: white;
  font-weight: 700;/*bold*/
}
/* 마우스 올릴시 */
.box:hover {
  /* 멈추고 파란색으로 변함 */
  animation-play-state: paused;
  background: dodgerblue;
  
}

/* 박스 클래스 hover시 before 선택자 어떻게 할 것인가 */
.box:hover::before {
  
/*   running을 paused로 변경 */
  content: "paused";
}

@keyframes size-up {
  0% {
    width: 150px;
  }
  
  100%{
/*     너비가 최대치 */
   width: 100%; 
  }
}
